"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
" 显示行号
set number
" 相对当前行行数显示
set relativenumber
" 搜索时忽略大小写
set ignorecase
set scrolloff=5
" 进行增量搜索
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)
inoremap jk <Esc>
nnoremap <Space> :
" idea内置快捷键control+E (使用快捷键 空格+e)
nnoremap <Space>e :action RecentFiles<CR>
"添加注释
nnoremap <Space>;; :action CommentByLineComment<CR>
nnoremap U <C-r>

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
set ideajoin